cmake-build-debug/
.idea/
skeleton/
CMakeLists.txt
vcpkg.json
.gitattributes
.vs/
pg2.sln
pg2.vcxproj
pg2.vcxproj.filters
pg2.vcxproj.user
pg2/
resources/objects/plane_tri_vnt.obj
vcpkg-configuration.json
vcpkg_installed/
x64/
shaders_all/
resources/textures/Minecraft texture pack/